<footer>
    <div>
        <h4>Adres</h4>
        <p>Hannie Dankbaarpassage 47,<br>1053RT Amsterdam</p>
    </div>
    <div>
        <h4>Volg ons</h4>
        <ul>
            <li>
                <i class='bx bxl-instagram'></i>
            </li>
            <li>
                <i class='bx bxl-facebook-circle'></i>
            </li>
        </ul> 
    </div>

</footer>

</body>

</html>