<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ellenoor Bok | BuurtConnect</title>

    <!-- link to css -->
    <link rel="stylesheet" href="/style/style.css">

    <!-- font style -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">

    <!-- link to js -->
    <script src="/script/script.js" defer></script>

    <!-- link to boxicons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>

<body>

    <nav>
        <ul>
            <li>
                <a href="/" <% if (current=='/' ) { %>
                    class="active"
                    <% } %>
                        >Home
                </a>
            </li>
            <li>
                <a href="/about" <% if (current=='/detail' ) { %> class="active"<% } %>>About us</a>
            </li>
            <li>
                <a href="/vraag-aanbod" <% if (current=='/vraag-aanbod' ) { %> class="active"<% } %>
                        >Buurtprojecten</a>
            </li>
            <li>
                <a href="/contact" <% if (current=='/detail' ) { %> class="active"<% } %>>Contact</a>
            </li>
            <li>
                <a href="/faq" <% if (current=='/detail' ) { %> class="active"<% } %>>FAQ</a>
            </li>
        </ul>
    </nav>