<%- include('./partials/head' , {current: '/detail' }) %>

    <main>
        <section>
            <h1 class="aboutH">Ontdek BuurtConnect</h1>
            <article class="aboutText">
                Welkom bij BuurtConnect, het platform dat jouw buurt tot leven brengt met geweldige projecten en
                initiatieven! Of je nu een idee hebt om je buurt groener te maken, een evenement wilt organiseren om je
                buren te verenigen, of gewoon op zoek bent naar manieren om actief deel te nemen aan je gemeenschap,
                BuurtConnect is er om je te helpen.

                Bij BuurtConnect geloven we dat echte verandering begint bij de lokale gemeenschap. Daarom hebben we dit
                platform gecreëerd waar buurtbewoners hun ideeën kunnen delen en samenwerken aan projecten die onze
                wijken en buurten verbeteren.

                Wil je een moestuin starten in het park om verse groenten te verbouwen voor de buurt? Of misschien ben
                je op zoek naar vrijwilligers om een buurtfeest te organiseren ter ere van de lokale helden? Op
                BuurtConnect vind je alle projecten die momenteel worden aangeboden in jouw buurt en kun je eenvoudig
                deelnemen aan projecten die jou aanspreken.

                Het aanbieden van een project op BuurtConnect is net zo eenvoudig als het zoeken naar projecten. Vertel
                ons over jouw ideeën, voeg details toe en laat de buurt weten hoe ze kunnen helpen. Of het nu gaat om
                het organiseren van een schoonmaakactie, het opzetten van een buurtbibliotheek of het plannen van een
                buurtbarbecue, op BuurtConnect vind je de steun en de middelen die je nodig hebt om jouw project tot een
                succes te maken.

                Sluit je vandaag nog aan bij BuurtConnect en ontdek hoe jij een verschil kunt maken in jouw buurt. Samen
                kunnen we bouwen aan een hechtere en levendigere gemeenschap. Doe mee en laat jouw buurtprojecten tot
                bloei komen op BuurtConnect!
            </article>
        </section>
    </main>

    <%- include('./partials/foot') %>