<%- include('./partials/head' , {current: '/' }) %>

    <main>
        <section>
            <h1>Contact</h1>
            <ul class="faqList">
                <li>Bel ons:<br>Tel. +31 020 7058164</li>
                <li>Stuur ons een mail:<br>info@dehallen-amsterdam.nl</li>
                <li>Of kom gerust een keer langs:<br>Hannie Dankbaarpassage 47,<br>1053RT Amsterdam</li>
            </ul>
        </section>
    </main>

    <%- include('./partials/foot') %>