<%- include('./partials/head' , {current: '/detail' }) %>

    <main>
        <section>
            <h1>FAQ</h1>
            <ul class="faqList">
                <li>In welke regio's kan ik initiatieven aanvragen?</li>
                <li>Is het gebruik van dit platform compleet kostenloos?</li>
                <li>Ik ben ontevreden met een geleverde dienst, wat nu?</li>
            </ul>
        </section>
    </main>

    <%- include('./partials/foot') %>